%h2 Edit details about your posting for #{@book.title}

= form_tag commit_admin_posting_path("#{Posting.encrypt(@posting.id)}"), :id => "edit_posting_form", :method => :post do

  %p
    = label :new_post, :seller_email, 'Your e-mail:'
    %br
    = text_field :new_post, :seller_email, :class => "required email", :value => "#{@posting.seller_email}", :id => "posting_seller_email"

  %p
    = label :new_post, :seller_name, 'Your name:'
    %br
    = text_field :new_post, :seller_name, :value => "#{@posting.seller_name}", :id => "posting_seller_name"

  %p
    = label :new_post, :price, 'Price in dollars:'
    %br
    = text_field :new_post, :price, :class => "required integer_price", :value => "#{@posting.price}"
        
  %p
    = label :new_post, :condition, 'Condition of your book:'
    = select :new_post, :condition, ['Brand New', 'Used it few times', 'Notes all over'], :value => "#{@posting.condition}"
    
  %p
    = label :new_post, :location, 'Where you want to meet to sell your book:'
    = select :new_post, :location, ['North Side', 'South Side', 'West Side', 'East Side'], :value => "#{@posting.location}"
    
  %p
    = label :new_post, :comments, 'Miscellaneous comments:'
    %br
    = text_area :new_post, :comments, :size => "80x5", :value => "#{@posting.comments}"

  %p  
    = submit_tag 'Update and Re-Publish'


= button_to "Delete Post", delete_posting_path("#{Posting.encrypt(@posting.id)}"), :method => :delete, :id => "Delete Post", :confirm => 'Are you sure?'

