%h2 Enter in  details about your posting

= form_tag create_new_posting_path("#{@book.id}"), :id => "create_posting_form", :method => :put do

  %p
    = label :posting, :seller_email, 'Your e-mail:'
    %br
    = text_field :posting, :seller_email, :class => "required email"

  %p
    = label :posting, :seller_name, 'Your name:'
    %br
    = text_field :posting, :seller_name

  %p
    = label :posting, :price, 'Price in dollars:'
    %br
    = text_field :posting, :price, :class => "required integer_price"
        
  %p
    = label :posting, :condition, 'Condition of your book:'
    = select :posting, :condition, ['Brand New', 'Used it few times', 'Notes all over']
    
  %p
    = label :posting, :location, 'Where you want to meet to sell your book:'
    = select :posting, :location, ['North Side', 'South Side', 'West Side', 'East Side']
    
  %p
    = label :posting, :comments, 'Miscellaneous comments:'
    %br
    = text_area :posting, :comments, :size => "80x5"

  %p
    = submit_tag 'Post!'
    
