%h2 Enter in  details about your posting

= form_tag create_new_posting_path("#{@book.id}"), :method => :put do

  %p
    = label :posting, :seller_email, 'Your e-mail:'
    = text_field :posting, :seller_email

  %p
    = label :posting, :seller_name, 'Your name:'
    = text_field :posting, :seller_name

  %p
    = label :posting, :price, 'Price:'
    = text_field :posting, :price
        
  %p
    = label :posting, :condition, 'Condition of  your Book:'
    = select :posting, :condition, ['Brand New', 'Used it few times', 'Notes all over']
    
  %p
    = label :posting, :location, 'Where you want to meet to sell your book:'
    = select :posting, :location, ['North Side', 'South Side', 'West Side', 'East Side']
    
  %p
    = label :posting, :comments, 'Miscellaneous comment:'
    %br
    = text_area :posting, :comments, :size => "80x5"

  %p
    = submit_tag 'Post!'
    
