%h2 Enter in details about your book

= form_tag create_new_book_path("#{@course.id}"), :id => "create_book_form", :method => :put, do

  %p
    = label :book, :title, 'Title:'
    %br
    = text_field :book, :title, :class => "required", :value => "#{@failed_book[:title]}"

  %p
    = label :book, :author, 'Author:'
    %br
    = text_field :book, :author, :class => "required", :value => "#{@failed_book[:author]}"

  %p  
    = label :book, :edition, 'Edition:'
    %br
    = text_field :book, :edition, :class => "required", :value => "#{@failed_book[:edition]}"
    
  %p
    = label :book, :isbn, 'ISBN:'
    %br
    = text_field :book, :isbn, :class => "required", :value => "#{@failed_book[:isbn]}"

  %p  
    = submit_tag 'Next'
    
