%h2 Enter in details about your book

= form_tag create_new_book_path("#{@course.id}"), :method => :put, :id => :createbookform do

  %p
    = label :book, :title, 'Title:'
    = text_field :book, :title

  %p
    = label :book, :author, 'Author:'
    = text_field :book, :author

  %p
    = label :book, :edition, 'Edition:'
    = text_field :book, :edition
    
  %p
    = label :book, :isbn, 'ISBN:'
    = text_field :book, :isbn

  %p
    = submit_tag 'Done!'
