%h2 Textbooks for #{@course.department_long} #{@course.number}

- if @transaction_type == 'buy'
  %p Click on a book to see the offers for that book.
- else
  %p Click on a book to create a posting for that book, if you don't see the book you are trying to sell listed, please click "Enter Unlisted Book"

= render :partial => "courses/required"

= render :partial => "courses/unrequired"

- if @transaction_type == 'sell'

  = button_to 'Enter Unlisted Book', display_new_book_path(@course), :action => "display_new", :method => :get
