- if @transaction_type == 'buy'
  %h2 Choose the class you are buying books for:
- else
  %h2 Choose the class you are selling books for:

= form_tag find_course_path("#{params[:transaction_type]}"), :method => :post do

  %p
    = label :course, :department, 'Department:'
    = select :course, :department, @departments

  %p
    = label :course, :number, 'Number:'
    = select :course, :number, @numbers

  %p
    = label :course, :section, 'Section:'
    = select :course, :section, @sections

  %p
    = submit_tag 'Go choose a book', :name => 'search'
