%html

  %head
  
    %title TextBook Swap!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  
  #wrapper
      
    #sign
      = link_to image_tag('logo.png', :size =>'300x45'), '/'
      
    = yield
